:root {
    --primary-color: #5195aa;
    --secondary-color: aliceblue;
    --ternary-color: #3fcbe2;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: cursive;
    line-height: 1.6;
    font-size: 18px;
    background-image: url('/portfolio-bg.jpg');
    background-size:  100vw 110vh;
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* keyframes */
@keyframes zoomIn {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slideLeft{
    from {
        margin-top: 80vh;
    }
    to {
        margin-top: 0;
    }
}



.page-container {
    min-height: calc(100vh - 45px);
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--ternary-color);
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title span,
.primary-color {
    color: var(--ternary-color);
}

.title,
.description,
.content {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.content {
    font-size: 1.2rem;
}

.logo {
    height: 100%;
}

.home-page,
.work-page {
    animation: zoomIn 1s ease-in;
}

.about-page {
    animation: slideLeft 1s ease-in;
}

@media (max-width: 600px) {
    main {
        padding: 1rem 0.5rem 3rem;
    }
}