.navbar {
    width: 100%;
    padding: 0 0.5rem;
    height: 45px;
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.activeLink {
    color: aliceblue;
    text-decoration: underline;
}
